@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    transform: scale(100%)
  }
  25% {
    transform: scale(105%)
  }
  100% {
    transform: scale(100%)
  }
}

.reveal {
  animation: pulse 0.2s ease-in-out 0s 1;
}
